.table{
    width: 800px;
    height: 400px;
    border-collapse: collapse;
}

td{
    width: 40px;
    height: 40px;
    /* border: 2px dashed blue; */
}

.black{
    background-color: black;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}