table{
  height: 400px;
  width: 400px;
  border-collapse: collapse;
  /* border: 1px dashed red; */
}
td{
  /* border: 1px dashed blue; */
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.white{
  background-color: white;
}
